<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

  <body>

    <%- include('partials/navBar.ejs') %>
      <% if (typeof message !=='undefined' ) { %>
        <%= message %>
          <% } %>

            <form action="/register/add" method="POST">
              <div>
                <label>
                  Nome:
                </label>
                <input type="text" name="name">
              </div>
              <div>
                <label>
                  idade:
                </label>
                <input type="text" name="age">
              </div>
              <div>
                <label>
                  E-mail:
                </label>
                <input type="text" name="email">
              </div>
              <div>
                <label>
                  Senha:
                </label>
                <input type="text" name="password">
              </div>
              <button type="submit">Enviar</button>
            </form>


            <%- include('partials/foot.ejs') %>
  </body>

</html>