<header>
  <ul>
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li>
      <a href="/sobre">
        sobre
      </a>
    </li>
    <li>
      <a href="/formulario">
        Formulario
      </a>
    </li>
  </ul>
</header>